main > .container {
    padding: 0px;
    margin: 0px;
    max-width: unset;
}
main{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*Home*/
/* Estilos generales */
body {
    background-color: #161614; /* Color de fondo */
    color: red; /* Color del texto principal */
    margin: 0;
    padding: 0;
}
.linea-divisoria-izquierda {
    border: none;
    height: 4px; /* Ajusta la altura de la línea según tus necesidades */
    margin: 0; /* Elimina el margen por defecto del hr */
    width: 100%; /* Hace que la línea ocupe todo el ancho de la pantalla */
    background: linear-gradient(to right, black 0%, #b8a264 100%); /* Degradado de blanco a dorado oscuro de izquierda a derecha */
}
.linea-divisoria-derecha {
    border: none;
    height: 4px; /* Ajusta la altura de la línea según tus necesidades */
    margin: 0; /* Elimina el margen por defecto del hr */
    width: 100%; /* Hace que la línea ocupe todo el ancho de la pantalla */
    background: linear-gradient(to left, black 0%, #b8a264 100%); /* Degradado de blanco a dorado oscuro de izquierda a derecha */
}
.linea-divisoria-central {
    border: none;
    height: 4px; /* Ajusta la altura de la línea según tus necesidades */
    margin: 0; /* Elimina el margen por defecto del hr */
    width: 100%; /* Hace que la línea ocupe todo el ancho de la pantalla */
    background: linear-gradient(to right, black 0%, #b8a264 50%, #b8a264 50%, black 100%); /* Degradado de negro a dorado en el centro */
}




/* Estilos para la tarjeta con texto */
.card {
    border: 1px solid #ddd; /* Borde de la tarjeta */
}

.card-title {
    color: #007bff; /* Color del título */
}

.card-text {
    color: #555; /* Color del texto */
}

.titulo-container {
    text-align: center;
    background-image: url('../images/titulo.jpg');
    background-size:cover;
    color: #e2ce7c;
    margin:20px;
    border: 5px solid #e2ce7c;
}


/*encabezado*/
.logo{
    width: 600px;
    height: auto;
}
.encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*encabezado ---Botones*/
.boton-encabezado{
    /*posicion*/
    width: 150px;
    height: 75px;
    margin-left: 50px;
    margin-right: 50px;
    /*color*/
    background-color: black;
    color: white;
    /*borde*/
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    /*letra*/
    font-size: 25px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px
}
.boton-encabezado:hover{
    background-color: goldenrod;
    color: black;
    text-decoration: none;
}

/*contenedor principal*/
.contenedor-principal{
    width: 90%;
    margin: 0 auto;
    background-color: red;
}

/*titulo*/
.contenedor-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    font-size: 60px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to top, gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subtitulo{
    font-size: 40px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to top, gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

/*buscar*/

.contenedor-buscar{
    display: flex;
}
.contenedor-buscar-texto-titulo{
    /*posicionamiento*/
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 100px;
    margin-left: 100px;

    /*letra*/
    font-size: 50px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to top, gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contenedor-buscar-texto-parrafo{
    /*posicionamiento*/
    margin-left: 100px;
    margin-right: 100px;
    /*letra*/
    font-size: 30px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    background: rgba(224, 216, 167, 0.959);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.imagen-buscar {
    width: 900px;
    height: auto;
    -webkit-mask-image: linear-gradient(to left, transparent, black 70%, black 90%);
}
.boton-buscar {
    /* posición */
    width: 200px; /* Aumenta el ancho del botón */
    height: 100px; /* Aumenta la altura del botón */
    margin-left: 400px;
    margin-right: 50px;
    margin-top: 50px;
    /* color */
    background-color: black;
    color: white;
    /* borde */
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    /* letra */
    font-size: 25px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 100px; /* Ajusta la línea de altura para centrar el texto verticalmente */
}
.boton-buscar:hover{
    background-color: goldenrod;
    color: black;
    text-decoration: no;
}
/*compartir*/
.contenedor-compartir{
    display: flex;
}
.contenedor-compartir-texto-titulo{
    /*posicionamiento*/
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 100px;
    margin-left: 100px;    
    /*letra*/
    font-size: 50px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to top, gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contenedor-compartir-texto-parrafo{
    /*posicionamiento*/
    margin-left: 100px;
    margin-right: 100px;
    /*letra*/
    font-size: 30px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    background: rgba(224, 216, 167, 0.959);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.imagen-compartir {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: 0px;
    -webkit-mask-image: linear-gradient(to right, transparent, black 70%, black 90%);
}
.boton-compartir{
    /*posicion*/
    width: 150px;
    height: 75px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
    /*color*/
    background-color: black;
    color: white;
    /*borde*/
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    /*letra*/
    font-size: 25px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}
.boton-compartir:hover{
    background-color: goldenrod;
    color: black;
}
/*rueda de clases*/
.contenedor-rueda{
    margin-bottom: 20px;
}
.titulo-rueda{
    display: flex;
    justify-content: center;
    align-items: center;
    /*letra*/
    font-size: 50px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to top, gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fondo-rueda{
    margin: 0 auto;
    background-image: url('../images/rueda de clases.png');
    background-size: cover ;
    background-position: center;
    width: 850px;
    height: 850px;
}
/*botones rueda de clases*/

.rueda-botones-principal{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.boton-principal{
    /*posicion*/
    width: 150px;
    height: 75px;
    margin-left: 50px;
    margin-right: 50px;
    /*color*/
    background-color: black;
    color: white;
    /*borde*/
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    /*letra*/
    font-size: 25px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}
.boton-principal:hover{
    background-color: goldenrod;
    color: black;
}





/*builds*/
/*cartas de personaje*/
.selector-de-clase-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sentinel-card{
    width: 18%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../images/sentinel.png');
    background-size: 65% ;
    background-position: center;
    background-repeat: no-repeat
}
.mage-card{
    width: 18%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../images/mage.png');
    background-size: 65% ;
    background-position: center;
    background-repeat: no-repeat
}
.rogue-card{
    width: 18%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../images/rogue.png');
    background-size: 65% ;
    background-position: center;
    background-repeat: no-repeat
}
.primalist-card{
    width: 18%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../images/primalist.PNG');
    background-size: 55% ;
    background-position: center;
    background-repeat: no-repeat
}
.acolyte-card{
    width: 18%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../images/acolyte.PNG');
    background-size: 55% ;
    background-position: center;
    background-repeat: no-repeat
}
.class-text{
    background-color: #212529;
    margin-top: 170px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to top, gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subclass-text{
    background-color: #212529;
    margin-top: 70px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(to top, gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.selector-de-clase-secundario{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*selector de equipo*/

.equipo{
    width: 50%;
    margin-right: auto;
    margin-left: 0;
}
.inventario-equipo{
    display: flex;
}
.subtitulo .inventario{
    margin-top: 0;
    margin-bottom: auto;
}
.fila-equipo{
    display:flex;
    align-items: center;
    justify-content: center;
}
.casco-equipo{
    width: 120px;
    height: 120px;
    margin: 20px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
}
.anillo-equipo{
    width: 60px;
    height: 60px;
    margin: 20px;
    margin-top: 80px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
}
.collar-equipo{
    width: 60px;
    height: 60px;
    margin: 20px;
    margin-top: 80px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
}
.armadura-equipo{
    width: 140px;
    height: 200px;
    margin: 20px;
    margin-right: 160px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
}
.arma-equipo{
    width: 100px;
    height: 200px;
    margin: 20px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
}
.botas-equipo{
    width: 120px;
    height: 120px;
    margin: 20px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
}
.inventario{
    width: 50%;
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tarjeta-objeto{
    width: 80%;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*estadisticas finales*/
.logo-stat{
    width: auto;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.contenedor-stats-finales{
    display: flex;
}
.stats-card{
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
}
.stats-card .subtitulo{
    text-align: center;
}
.stat-tarjeta{
    display: flex;
    margin-top: 20px;
}

/*explorar*/
.contenedor-boton-filtrado{
    display:flex;
    align-items: center;
    justify-content: center;
}
.boton-filtrado-dificultad-facil{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%), url('../images/facil.PNG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-dificultad-facil:hover {
    color: #9a2cad; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/facil.PNG');
}
.boton-filtrado-dificultad-medio {
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: 
        linear-gradient(to right, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.9) 2%, rgba(0,0,0,0.85) 5%, rgba(0,0,0,0.8) 8%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0.7) 90%, rgba(0,0,0,0.8) 92%, rgba(0,0,0,0.85) 95%, rgba(0,0,0,0.9) 98%, rgba(0,0,0,0.95) 100%), 
        url('../images/medio.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 0.3s ease;
}
.boton-filtrado-dificultad-medio:hover {
    color: #9a2cad; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/medio.PNG');
}
.boton-filtrado-dificultad-dificil{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%), url('../images/dificil.PNG');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-dificultad-dificil:hover {
    color: #9a2cad; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to left, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/dificil.PNG');
}
.boton-filtrado-efectividad-baja{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 70%), url('../images/chaos.PNG');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-efectividad-baja:hover {
    color: #9a2cad; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/chaos.PNG');
}
.boton-filtrado-efectividad-media{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: 
        linear-gradient(to right, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.9) 2%, rgba(0,0,0,0.85) 5%, rgba(0,0,0,0.8) 8%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0.7) 90%, rgba(0,0,0,0.8) 92%, rgba(0,0,0,0.85) 95%, rgba(0,0,0,0.9) 98%, rgba(0,0,0,0.95) 100%), 
        url('../images/divine.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 0.3s ease;
}

.boton-filtrado-efectividad-media:hover {
    color: #9a2cad; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/divine.PNG');
}
.boton-filtrado-efectividad-alta{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%), url('../images/exalted.PNG');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-efectividad-alta:hover {
    color: #9a2cad; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to left, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/exalted.PNG');
}
.boton-filtrado-contenido-mapas {
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%), url('../images/atlas.PNG');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-contenido-mapas:hover {
    color: #9a2cad;
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/atlas.PNG');
}
.boton-filtrado-contenido-jefes {
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%), url('../images/exarc.PNG');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-contenido-jefes:hover {
    color: #9a2cad; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to left, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/exarc.PNG');
}
.boton-vuelta-a-explorar{
    /*posicion*/
    width: 300px;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*color*/
    background-color: black;
    color: white;
    /*borde*/
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    /*letra*/
    font-size: 25px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px
}
.boton-vuelta-a-explorar:hover{
    background-color: goldenrod;
    color: black;
    text-decoration: none;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Tres columnas de tamaño flexible */
    gap: 20px; /* Espacio entre elementos */
    margin: 20px; /* Margen exterior */
}

/* Estilos para los botones */
.custom-grid-view .btn {
    background-color: #555;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    width: calc(100% - 20px); /* Ocupa todo el ancho de la celda menos el espacio entre elementos */
}

/* Ajuste para mostrar las consultas en filas */
.custom-grid-view .btn:nth-child(3n) {
    margin-right: 0; /* Elimina el margen derecho en el tercer elemento de cada fila */
}

/*buscar*/
/*tabla tresRecientes*/
.contenedor-tabla-tresrecientes {
    width: 90%;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    margin-left: 70px;
}

.tabla-tresRecientes {
    width: 100%;  /* Ajusta el ancho de la tabla al 100% */
    border-collapse: collapse;
    margin: 0 auto;  /* Centra la tabla horizontalmente */
    border: none; /* Quita los bordes de la tabla */
    margin-bottom: 0; /* Quita el margen inferior */
}

.tabla-tresRecientes th, .tabla-tresRecientes td {
    padding: 15px;  /* Aumenta el espaciado interno */
    text-align: left;
    color: #e2ce7c;
    border: none; /* Quita los bordes de las celdas */
}

.tabla-tresRecientes th {
    background-color: #670379;  /* Alterna el color de fondo de las filas para mayor legibilidad */
    color: #e2ce7c;
    border-bottom: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;  /* Cambia el color del texto del encabezado a azul oscuro */
    border: none; /* Quita los bordes del encabezado */
}

.tabla-tresRecientes tr:nth-child(even) {
    background-color: #33332f;  /* Cambia el color de fondo del encabezado a azul claro */
}

.boton-filtrado-contenido-cascos{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: 
        url('../images/casco.webp');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-contenido-cascos:hover {
    color: #e2ce7c; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/casco.webp');
}
.boton-filtrado-contenido-anillos{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: 
        url('../images/anillo.webp');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-contenido-anillos:hover {
    color: #e2ce7c; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to left, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/anillo.webp');
}
.boton-filtrado-contenido-armaduras{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: 
        url('../images/armadura.webp');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-contenido-armaduras:hover {
    color: #e2ce7c; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/armadura.webp');
}
.boton-filtrado-contenido-armas{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: 
        url('../images/arma.webp');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-contenido-armas:hover {
    color: #e2ce7c; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to left, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/arma.webp');
}
.boton-filtrado-contenido-collares {
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: 
        url('../images/Scollar.webp');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}

.boton-filtrado-contenido-collares:hover {
    color: #e2ce7c; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/Scollar.webp');
}
.boton-filtrado-contenido-botas{
    width: 35%;
    height: 160px;
    margin: 20px;
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Letra */
    font-size: 35px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
    color: #e2ce7c;

    /* Fondo con difuminado */
    background-image: 
        url('../images/botas.webp');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}
.boton-filtrado-contenido-botas:hover {
    color: #e2ce7c; /* Mantén el mismo color */
    text-decoration: none; /* Elimina el subrayado */
    background-image: linear-gradient(to left, rgba(255, 215, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/botas.webp');
}

/*visualizador de builds*/
.contenedor-dificultad-complejidad{
    display: flex;
}
.contenedor-efectividad{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-complejidad{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minisubtitulo{
    font-size: 25px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to top, gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}
.contenedor-equipamiento{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-equipamiento-individual{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* site.css */

.page-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.builds-form {
    padding: 20px;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

.form-horizontal .form-group {
    margin-bottom: 15px;
    color: gold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: gray;
    color: gold;
}
.build-selector {
    /*posicion*/
    width: 500px;
    height: 35px;
    margin-left: 50px;
    margin-right: 50px;
    /*color*/
    background-color: black;
    color: white;
    /*borde*/
    border: 2px solid;
    border-image: linear-gradient(to top, gold, white); /* Gradiente dorado a blanco */
    border-image-slice: 1;
    /*letra*/
    font-size: 25px;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 75px;
}
.centrador{
    display: flex;
    justify-content: center;
    align-items: center;
}
.build-selection {
    text-align: center; /* Centra el contenido horizontalmente */
}

.build-selector {
    margin: 10px; /* Espacio entre los selectores de build */
}